@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: rgb(116, 116, 116);
  border-radius: 20px;
  border: 1px solid rgba(167, 164, 164, 0.24);
}
::selection {
  background: rgba(0, 123, 255, 0.432);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(241, 240, 240);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
main {
  min-height: 90vh;
  display: grid;
  place-items: center;
}

/* 
.............
NAVBAR 
.............
*/

nav {
  background: black;
  color: white;
}

.navbar {
  position: relative;
  box-shadow: var(--dark-shadow);
  align-items: center;
  width: 100%;
  top: 0;
  padding: 1em;
}
.navContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  margin: 0 auto;
  width: 60%;
}
.navLinks {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  text-align: center;
}

.navLinks a {
  font-size: 1.8em;
}
#simple:hover{
  background: -webkit-linear-gradient(rgb(91, 217, 255), rgb(7, 255, 28));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
#hex:hover{
  background: -webkit-linear-gradient(rgb(255, 238, 0), rgb(255, 7, 222));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.logo {
  font-family: 'Acme', sans-serif;
  font-size: 2.8em;
  background: -webkit-linear-gradient(rgb(255, 85, 55), rgb(255, 238, 7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width : 1024px) {
  .navContainer{
    width: 100%;
  }
}
/* 
.............
MAIN
.............
*/
.container {
  position: relative;
  height: 30vh;
  width: 98%;
  align-items: center;
  background-color: rgb(0, 0, 0);
  display: grid;
  font-size: 2em;
  color: white;
  box-shadow: var(--dark-shadow);
  border-radius: 1.8em;
}
.container h2 {
  position: relative;
  text-align: center;
}
.btn {
  position: relative;
  align-items: center;
  bottom: 5em;
  height: 4em;
  width: 9em;
  border-radius: 0.7em;
  border: 4px solid rgb(0, 0, 0);
  transition: 0.5s ease-in-out;
  font-weight: bold;
  font-size: large;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.b1 {
  background: -webkit-linear-gradient(
    0deg,
    transparent 50%,
    rgb(20, 20, 20) 50%
  );
  background-size: 400px 80px;
  border: 6px solid rgb(0, 0, 0);
}
.b1:hover {
  background-position: 200px 0;
  border-radius: 1.2em;
  cursor: pointer;
  color: white;
}
