.logo-container {
    /* height: 3em;
      width: 7em; */
    display: inline-block;
  }
  .logo-container img {
    height: 3em;
    width: 6em;
    filter: invert(100%);
    transform: rotate(10deg);
  }
  .content {
    max-width: 2560px;
    padding: 0 10px;
  }
  .nav-container {
    position: relative;
    top: 0;
    width: 100%;
    /* border-radius: 7px; */
    background-color: rgb(27, 27, 27);
    align-items: center;
    padding: 20px 0;
  }
  .nav-container.sticky {
    position: fixed;
    background: #2b2a2a;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1720px;
    /* grid-gap: 25rem; */
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 3rem;
  }
  
  a {
    color: rgb(255, 255, 255);
    font-size: 2.1em;
    text-decoration: none;
  }
  .sign-up {
    margin-left: auto;
  }
  #second-signup {
    display: none;
  }
  
  .items {
    list-style: none;
    font-family: "Bebas Neue", cursive;
  }
  
  @media (max-width: 768px) {
    
    .navbar {
      width: 100%;
    }
    .nav-container.sticky {
      padding: 20px 0;
    }
    .menu {
      display: flex;
      flex-flow: column wrap;
      background-color: rgb(0, 0, 0);
      /* margin: 0 -100em; */
      height: 80vh;
      width: 100%;
      position: absolute;
      top: 5.8rem;
      /* left: -100em; */
      transition: all 0.5s ease;
      justify-content: space-evenly;
      align-items: center;
      grid-gap: 0;
      transition: all 0.3s ease-in-out;
    }
  
    .ham {
      cursor: pointer;
    }
    .burger {
      position: absolute;
      width: 4rem;
      height: 0.5em;
      background-color: white;
      border-radius: 5em;
      right: 2em;
      top: 45%;
      transition: all 0.2s ease-in;
      cursor: pointer;
    }
    #bar3 {
      transform: translateY(17px);
    }
    #bar2 {
      transform: translateY(-17px);
    }
  
    #second-signup {
      display: grid;
    }
    #second-signup:hover {
      background-color: rgb(255, 0, 0);
    }
    .items {
      text-align: center;
      padding: 7%;
      justify-content: center;
    }
    .items:hover {
      background-color: rgb(97, 97, 97);
      width: 100%;
      transition: all 0.2s ease-in;
    }
    
    .ham.open #bar1 {
      width: 0;
      opacity: 0;
    }
    .ham.open #bar2 {
      transform: rotate(45deg);
    }
    .ham.open #bar3 {
      transform: rotate(-45deg);
    }
    .sign-up {
      display: none;
    }
  }
  