@import url(main.css);
@import url(navbar.css);
@import url(slider.css);

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #353535;
}
::-webkit-scrollbar-thumb {
  background: rgb(15, 15, 15);
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.24);
}
::selection {
  background: rgba(0, 123, 255, 0.432);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.863);
  color: white;
  height: 500vh;
  
}
